[submodule "gdx-lava"]
	path = gdx-lava
	url = git@github.com:lavaeater/gdx-lava.git
[submodule "go-deeper/Marching-Cubes"]
	path = go-deeper/Marching-Cubes
	url = git@github.com:SebLague/Marching-Cubes.git
